<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>

  </head>

  <body>
     <% for (let obj of votes) { %>
          <h1>Results for <i>"<%= obj.polldescription %>"</i> </h1>
        <% } %>
      <span class="stats">
        <h2>Stats:</h2>
        <p>
        <% for (let obj of votes) { %>
          <li>"<%= obj.title %>" (<%= obj.description %>) received <%= obj.points %> points.</li>
        <% } %>
        <p>
          <h3>Voter stats:</h3><p>
        <% for (let obj of votes) { %>
          <li><%= obj.name %>'s top vote was "<%= obj.title %>" (<%= obj.description %>).</li>
        <% } %>


        <!--   [ anonymous {
              title: 'title B',
              description: 'description B',
              points: 100,
              name: 'Voter B' },
            anonymous {
              title: 'title A',
              description: 'description A',
              points: 90,
              name: 'Voter A' },
            anonymous {
              title: 'title C',
              description: 'description C',
              points: 120,
              name: 'Voter C' } ]  -->

      </span><p>
      <form id="deletePoll" action="/poll/:id/delete" method="POST">
        <input type="submit" value="Delete Poll">

    <% include ./partials/_bootstrap %>
  </body>
</html>
