<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>

  </head>

  <body>
     <% for (let obj of votes) { %>
          <h1>Results for <i>"<%= obj.polldescription %>"</i> </h1>
        <% } %>
      <span class="stats">
        <h2>Stats:</h2>
        <p>
        <% for (let obj of votes) { %>
          <li>"<%= obj.title %>" (<%= obj.description %>) received <%= obj.points %> points.</li>
        <% } %>
        <p>
          <h3>Voter stats:</h3><p>
        <% for (let obj of votes) { %>
          <li><%= obj.name %>'s top vote was "<%= obj.title %>" (<%= obj.description %>).</li>
        <% } %>

      </span><p>
      <form id="deletePoll" action="/poll/:id/delete" method="POST">
        <input type="submit" value="Delete Poll">

    <% include ./partials/_bootstrap %>
  </body>
</html>
